html {
  font-family: "Vollkorn", serif;
  font-size: 10px;
  color: rgb(62, 61, 61);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  cursor: pointer;
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(104, 114, 166);
}
ul {
  list-style: none;
  padding: 0;
  display: flex;
}
li {
  font-size: 1.6rem;
  margin: 0 10px;
}
img {
  width: 100%;
  display: block;
}
.apply {
  position: relative;
  text-align: center;
}
.text-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: rgba(53, 48, 48, 0.7);
  border-radius: 4px;
  padding: 2rem 10rem;
  color: rgb(195, 191, 191);
}
button {
  background: none;
  border: 2px solid rgb(169, 252, 169);
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
}
button:hover {
  border-color: rgb(220, 237, 255);
}
.grid-item p {
  text-align: center;
  font-size: 1.8rem;
}
.grid-item:hover {
  filter: brightness(0.9);
  transform: scale(1.01);
  cursor: pointer;
}
h3 {
  margin: 0;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
}
.sports {
  background: #eee;
}
.sports-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.sports-text h3 {
  font-size: 2.2rem;
}
.italic {
  font-style: italic;
}
footer {
  text-align: center;
  background: rgb(62, 61, 61);
  color: #ddd;
  padding-bottom: 1rem;
}
footer ul {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  margin: 0;
}
footer li {
  padding: 1.6rem 0;
}
footer p {
  font-size: 1.6rem;
}
@media (min-width: 900px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
  }
  .text-overlay {
    font-size: 2.4rem;
    padding: 8rem;
  }
  .courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .grid-item {
    border: 1px solid lightgrey;
    border-radius: 2px;
  }
  .grid-item img {
    border-radius: 2px 2px 0 0;
  }
  .sports {
    display: flex;
  }
  .sports > div {
    flex: 1;
  }
  footer ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
